.games-wrapper {
    position: absolute;
    top: 3%;
    left: 15%;
    width: 40%;
    height: 95%;
    background-color:#e6f2ff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.games-title {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 16pt;
}

.games-main {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 80%;
    border: 1px solid #ccc;
    background-color: white;
    overflow-y: scroll;
}

.players-wrapper {
    position: absolute;
    top: 3%;
    left: 15%;
    width: 40%;
    height: 95%;
    background-color:#fff2e6;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.players-title {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 16pt;
}

.players-main {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 80%;
    border: 1px solid #ccc;
    background-color: white;
    overflow-y: auto;
}

.gameGraph {
    position: absolute;
    top: 5%;
    left: 55%;
    
}

.playerGraph {
    position: absolute;
    top: 5%;
    left: 55%;
}

.calendar-main {
    position: absolute;
    left: 5.4%;
    top: 8.5%;
    font-family: Verdana, sans-serif;
}

.calendar-button {
    position: absolute;
    top: 8.5%;
    left: 50%;
    font-family: Verdana, sans-serif;
}

.infoBox {
    position: absolute;
    top: 8.5%;
    right: 5%;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.containterSearchBox {
    position: absolute;
    /* width: 500px; */
    top: 53%;
    left: 57%;
    width: 40%;
    height: 45%;
    border: 1px solid #ccc;
    background-color:#fff2e6;
    border-radius: 5px;
}